# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All file changes should be reviewed by the maintainer team unless
# specified otherwise
*                          @DataDog/agent-runtimes
metrics/                   @DataDog/agent-runtimes @DataDog/agent-processing-and-routing
logs/                      @DataDog/agent-runtimes @DataDog/agent-processing-and-routing
process/                   @DataDog/agent-runtimes @DataDog/container-app @DataDog/container-intake
process/connections.proto  @DataDog/agent-runtimes @DataDog/Networks @DataDog/ebpf-platform @DataDog/universal-service-monitoring
contlcycle/                @DataDog/agent-runtimes @DataDog/container-integrations
contimage/                 @DataDog/agent-runtimes @DataDog/container-integrations @DataDog/container-intake
sbom/                      @DataDog/agent-runtimes @DataDog/container-integrations
CycloneDX/                 @DataDog/agent-runtimes @DataDog/container-integrations
cyclonedx_v1_4/            @DataDog/agent-runtimes @DataDog/container-integrations
cws/                       @DataDog/agent-runtimes @DataDog/agent-security
proto/cws/                 @DataDog/agent-runtimes @DataDog/agent-security
proto/autoscaling/         @DataDog/container-integrations @DataDog/container-app
