name: Test
on: [push, pull_request]
jobs:
  test:
    name: "invoke test"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload"
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        path: go/src/github.com/DataDog/agent-payload
    - name: "Install python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload/.python-version"
    - name: "Install invoke"
      run: |
          pip --version
          pip install -r "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload/requirements.txt"
    - name: Install go
      uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
      with:
        go-version-file: "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload/go.mod"
    - run: inv go.test
      env:
        GOPATH: "/home/runner/work/agent-payload/agent-payload/go"

  codegen:
    name: "invoke codegen"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload"
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        path: go/src/github.com/DataDog/agent-payload
    - name: "Install python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload/.python-version"
    - name: "Install invoke"
      run: |
          pip --version
          pip install -r "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload/requirements.txt"
    - name: Install go
      uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
      with:
        go-version-file: "/home/runner/work/agent-payload/agent-payload/go/src/github.com/DataDog/agent-payload/go.mod"
    - run: inv codegen.all
      env:
        GOPATH: "/home/runner/work/agent-payload/agent-payload/go"
    - name: Check for diffs
      run: git diff --exit-code
